html, body {
    height: 100%;
    margin: 0;
    display: block;
    background: #000; 
    overflow: hidden;
}

#bloque_juego {
    width: 370px; 
    height: 768px; 
    margin: auto;
    position: relative; 
    top: 50%;
    transform: translateY(-50%);
}
